project/backend/nodered/flow.json
[{"id":"fbb4856d0f0522f1","type":"tab","label":"ESP32","disabled":false,"info":"","env":[]},{"id":"aab46d4b9f7ebb74","type":"tab","label":"RP2040","disabled":false,"info":"","env":[]},{"id":"397c759f9b26de65","type":"tab","label":"Alerts","disabled":false,"info":"","env":[]},{"id":"7f2d9564175f3903","type":"mqtt-broker","name":"eu.hivemq.cloud","broker":"2f0de4ef7266438a8f0a43350b1fa391.s1.eu.hivemq.cloud","port":"8883","tls":"c80603c327360862","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"c80603c327360862","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""},{"id":"854b2ca96d76461d","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"219553f3ad290ae6","type":"ui_tab","name":"Sensors","icon":"dashboard","disabled":false,"hidden":false},{"id":"57026cc7df7cb8d4","type":"ui_group","name":"ESP32","tab":"219553f3ad290ae6","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c323959476d3bd93","type":"global-config","env":[]},{"id":"ec362a1844c13522","type":"ui_group","name":"RP2040","tab":"219553f3ad290ae6","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"495d5e621e52e8dd","type":"ui_group","name":"Alerts","tab":"219553f3ad290ae6","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ccdd68e91bdb33d9","type":"debug","z":"fbb4856d0f0522f1","name":"debug esp32","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":280,"wires":[]},{"id":"5d15f4e119c02da4","type":"mqtt in","z":"fbb4856d0f0522f1","name":"","topic":"/comcs/g08/sensors/esp32","qos":"1","datatype":"json","broker":"7f2d9564175f3903","nl":false,"rap":false,"rh":0,"inputs":0,"x":250,"y":100,"wires":[["d2e909cf1d39cc13","ccdd68e91bdb33d9"]]},{"id":"970238a41fafbb88","type":"ui_chart","z":"fbb4856d0f0522f1","name":"","group":"57026cc7df7cb8d4","order":1,"width":0,"height":0,"label":"Avg Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1030,"y":140,"wires":[[]]},{"id":"d2e909cf1d39cc13","type":"json","z":"fbb4856d0f0522f1","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":60,"wires":[["1fe91eb0c57335b3","fbdaf9b21ea1a27a","948974a78223182a","1d4d45d0466aa147"]]},{"id":"1fe91eb0c57335b3","type":"change","z":"fbb4856d0f0522f1","name":"Average Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.averageTemperature","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":80,"wires":[["970238a41fafbb88"]]},{"id":"fbdaf9b21ea1a27a","type":"change","z":"fbb4856d0f0522f1","name":"Average Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.averageHumidity","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":20,"wires":[["f62b06617a77d833"]]},{"id":"f62b06617a77d833","type":"ui_chart","z":"fbb4856d0f0522f1","name":"","group":"57026cc7df7cb8d4","order":2,"width":0,"height":0,"label":"Avg Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1010,"y":40,"wires":[[]]},{"id":"1cdb6d81427cde3d","type":"mqtt out","z":"fbb4856d0f0522f1","name":"","topic":"/comcs/go8/sensors/eps32/qos","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7f2d9564175f3903","x":570,"y":500,"wires":[]},{"id":"8c665ed063286fc9","type":"inject","z":"fbb4856d0f0522f1","name":"Change QoS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"/comcs/go8/sensors/eps32/qos","payload":"1","payloadType":"num","x":190,"y":480,"wires":[["1cdb6d81427cde3d"]]},{"id":"625597bf859bed50","type":"ui_gauge","z":"fbb4856d0f0522f1","name":"","group":"57026cc7df7cb8d4","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1030,"y":220,"wires":[]},{"id":"7f7ec9f2ec658ffc","type":"ui_gauge","z":"fbb4856d0f0522f1","name":"","group":"57026cc7df7cb8d4","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":960,"y":300,"wires":[]},{"id":"948974a78223182a","type":"change","z":"fbb4856d0f0522f1","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":180,"wires":[["625597bf859bed50"]]},{"id":"1d4d45d0466aa147","type":"change","z":"fbb4856d0f0522f1","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":260,"wires":[["7f7ec9f2ec658ffc"]]},{"id":"ae00b9c652d28f2a","type":"change","z":"aab46d4b9f7ebb74","name":"Average Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.averageHumidity","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":280,"wires":[["620dbdd153d51fac"]]},{"id":"f424060782278d96","type":"change","z":"aab46d4b9f7ebb74","name":"Average Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.averageTemperature","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":380,"wires":[["f1db37a6d1ed635b"]]},{"id":"ef3a779af075eb76","type":"mqtt in","z":"aab46d4b9f7ebb74","name":"","topic":"/comcs/g08/sensors/rp2040","qos":"1","datatype":"json","broker":"7f2d9564175f3903","nl":false,"rap":false,"rh":0,"inputs":0,"x":140,"y":200,"wires":[["2a413263f958ceb9"]]},{"id":"2a413263f958ceb9","type":"json","z":"aab46d4b9f7ebb74","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":260,"wires":[["f424060782278d96","ae00b9c652d28f2a","959a032133ab72ac","852b355be9fcdbe8","45564a344ea0af62"]]},{"id":"620dbdd153d51fac","type":"ui_chart","z":"aab46d4b9f7ebb74","name":"","group":"ec362a1844c13522","order":1,"width":0,"height":0,"label":"Avg Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":990,"y":300,"wires":[[]]},{"id":"f1db37a6d1ed635b","type":"ui_chart","z":"aab46d4b9f7ebb74","name":"","group":"ec362a1844c13522","order":1,"width":0,"height":0,"label":"Avg Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":970,"y":400,"wires":[[]]},{"id":"b81ea73aa1f00ace","type":"ui_gauge","z":"aab46d4b9f7ebb74","name":"","group":"ec362a1844c13522","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":950,"y":480,"wires":[]},{"id":"700f865a0dc52e1a","type":"ui_gauge","z":"aab46d4b9f7ebb74","name":"","group":"ec362a1844c13522","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"ºC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":960,"y":200,"wires":[]},{"id":"959a032133ab72ac","type":"change","z":"aab46d4b9f7ebb74","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["700f865a0dc52e1a"]]},{"id":"852b355be9fcdbe8","type":"change","z":"aab46d4b9f7ebb74","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":460,"wires":[["b81ea73aa1f00ace"]]},{"id":"45564a344ea0af62","type":"debug","z":"aab46d4b9f7ebb74","name":"debug rp2040","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":120,"wires":[]},{"id":"fcd0e315059cf54b","type":"ui_toast","z":"397c759f9b26de65","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Alert","name":"","x":1240,"y":380,"wires":[]},{"id":"576ed81e218a4933","type":"mqtt in","z":"397c759f9b26de65","name":"","topic":"/comcs/g08/alerts","qos":"1","datatype":"json","broker":"7f2d9564175f3903","nl":false,"rap":false,"rh":0,"inputs":0,"x":140,"y":120,"wires":[["2172776fe30bf733"]]},{"id":"2172776fe30bf733","type":"json","z":"397c759f9b26de65","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":200,"wires":[["69732d49b896b458","b1e94f017420cb06","3535418111014d5b"]]},{"id":"69732d49b896b458","type":"change","z":"397c759f9b26de65","name":"get alert type","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.alertType","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":220,"wires":[["22331445ab0db632"]]},{"id":"b1e94f017420cb06","type":"debug","z":"397c759f9b26de65","name":"debug alert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":360,"wires":[]},{"id":"22331445ab0db632","type":"delay","z":"397c759f9b26de65","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":940,"y":260,"wires":[["c10efa3efabf4a79"]]},{"id":"a3915308aa52cf04","type":"delay","z":"397c759f9b26de65","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":900,"y":340,"wires":[[]]},{"id":"3535418111014d5b","type":"change","z":"397c759f9b26de65","name":"get alert message","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.message","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":682.1041870117188,"y":328.1111145019531,"wires":[["a3915308aa52cf04"]]},{"id":"c10efa3efabf4a79","type":"ui_text","z":"397c759f9b26de65","group":"495d5e621e52e8dd","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1190,"y":480,"wires":[]}]
